extends layout.pug

block content
    h2 Karmas
    form(action="/karmas" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        input(type="text" name="title" value=title id="title")
        button(class="add-karma") Add Karma
    if karmas
        table
            thead
                tr
                    th title
            tbody
                    each karma in karmas
                        tr
                            td= karma.title
                            //- td &#128512

    div
        a(href='/') I'm done
