extends layout.pug

block content
    h2 Karmas
    table
        thead
            tr
                th title
        tbody
            tr
                td= karma.title
    div
        button I'm done
