extends layout.pug

include includes/utils

block content
    script(src="/javascripts/demoUser.js" type="module")
    +validationErrorSummary(errors)
    form(action='/users/log-in' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Email Address', 'email', email)
        +field('Password', 'password', password, 'password')
        div
            button(type='submit') Log-in
            a(href='/') Cancel
        div() Don't have an account?
            p: a(href='/users/sign-up') Sign-Up
        div() or
            form(action='/users/log-in' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            input(type='hidden' name='email-demo' value=mrgood)
            +field('Password', 'password', password, 'password')
            p: button(id='demo-user') Demo User
