doctype html
html
  head
      block head
        title Good Deeds - #{title}
        link(rel="stylesheet", href="/stylesheets/index.css")
  body

    header
      div(class="nav-bar")
        a(href="/")
          img(id='logo' src="/images/gooddeedslogo.png" href='/')
        div(class="nav-btns")
        a(href="/" class="home-nav-btn") Home
        a(href="/mydeeds" class="mydeeds-nav-btn") MyDeeds
        if locals.authenticated
          span Welcome #{user.firstName}!
          form(action='/users/log-out' method='post')
            button(type='submit' class="log-out-nav-btn") Logout
        else
          a(href="/users/log-in" class="log-in-nav-btn") Log In
          a(href="/users/sign-up" class="sign-up-nav-btn") Sign Up


    block content
