doctype html
html
  head
      block head
        title Good Deeds - #{title}
        link(rel="stylesheet", href="/stylesheets/index.css")
  body

    header
      div(class="nav-bar")
        a(href="/")
          img(id='logo' src="/images/gooddeedslogo.png" href='/')
        div(class="nav-btns")
        a(href="/" class="home") Home
        a(href="/mydeeds" class="mydeeds") MyDeeds
          //- div(class="rightalignbtns")
        if locals.authenticated
          span Welcome #{user.firstName}!
          form(action='/users/log-out' method='post')
            button(type='submit') Logout
        else
          a(href="/users/log-in" class="log-in") Log In
          a(href="/users/sign-up" class="sign-up") Sign Up


    block content

    footer
      div(class="footer")
        div(class="footer github")
          h3(class="footer-links") GitHub Links
          div
            ul(class="footer-links-list")
              li
                a(href="https://github.com/abeltesfa" target="_blank") Abel Tesfa
              li
                a(href="https://github.com/tinezh94" target="_blank") Christine Zhang
              li
                a(href="https://github.com/jngriedel" target="_blank") Niels Griedel
        div(class="footer linkedin")
          h3(class="footer-links") LinkedIn Links
          div
            ul(class="footer-links-list")
              li
                a(href="https://www.linkedin.com/in/abel-tesfa-93121866/" target="_blank") Abel Tesfa
              li
                a(href="https://www.linkedin.com/in/christine-zhang-4b263080/" target="_blank") Christine Zhang
              li
                a(href="https://www.linkedin.com/in/josef-niels-g-bbb2b38b/" target="_blank") Niels Griedel
      p(class="footer-copyright") Copyright &copy; GoodDeeds
