h1 {
  color: #555555;
}

.form-box-hidden {
  visibility: hidden;
  position: absolute;
}

.review-hidden {
  visibility: hidden;
  position: absolute;
}

.form-box {
  width: 500px;
  height: 400px;
  border: black solid 1px;
  border-radius: 5px;
  position: fixed;
  top: 100px;
  left: 400px;
  background-color: white;
  animation: popup 0.5s;
  padding: 10px;
  z-index: 2;
  opacity: 1;
}


.rating-label,
.review-title,
.review-body {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  display: block;
  padding: 3px;
}

.review-title-input {
  width: 200px;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
}

.review-body-text {
  border: 1px solid #d8d8d8;
  border-radius: 3px;
}

.review-save-cancel {
  margin: 5px 5px;
}

.review-cancel {
  display: inline-block;
  margin-left: 6px;
}

.save-review,
.cancel-review {
  border-radius: 3px;
  border: 1px solid #D6D0C4;
  font-size: 14px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  cursor: pointer;
  color: #333333;
  line-height: 1;
  text-decoration: none;
  background-color: #F4F1EA;
  padding: 10px 12px;
}


@keyframes popup {
  0% {
    transform: scale(.8);
  }

  50% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(1.3);
  }

  70% {
    transform: scale(1.2);
  }

  80% {
    transform: scale(1.1);
  }

  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.blur {

  -webkit-filter: blur(8px);
  filter: blur(8px);
  transition: 500ms;
  opacity: 1;
}



/* Star Stuff*/
.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}


.nav-bar {
  margin-top: -10px;
  margin-left: -10px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  width: 102%;
  color: #382110;
  text-decoration: none;
  background-color: #F4F1EA;
  height: 50px;
}

.nav-btns {
  text-align: center;
  padding: 10px;

}

.rightalignbtns {
  text-align: right;
}

.log-in-nav-btn {
  color: #382110;
  margin-left: 200px;
  margin-right: -120px;
  padding: 15px;
  text-decoration: none;
}

.sign-up-nav-btn {
  margin-right: 40px;
  padding: 15px;
  color: #382110;
  text-decoration: none;
}

.home-nav-btn {
  margin-right: 60px;
  color: #382110;
  padding: 15px;
  text-decoration: none;
}

.mydeeds-nav-btn {
  color: #382110;
  padding: 15px;
  text-decoration: none;
}

.log-in-nav-btn:hover {
  background-color: #382110;
  color: white;
  text-decoration: none;
}

.sign-up-nav-btn:hover {
  background-color: #382110;
  color: white;
  text-decoration: none;
}

.home-nav-btn:hover {
  background-color: #382110;
  color: white;
  text-decoration: none;
}

.mydeeds-nav-btn:hover {
  background-color: #382110;
  color: white;
  text-decoration: none;
}

.log-out-nav-btn {
  margin-right: 60px;
}

.rating {
  width: 90px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
}

.rating>label {
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000;
}

.rating>label:hover,
.rating>label:hover~label,
.rating>input.radio-btn:checked~label {
  color: transparent;
}

.rating>label:hover:before,
.rating>label:hover~label:before,
.rating>input.radio-btn:checked~label:before,
.rating>input.radio-btn:checked~label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #FFD700;

}


#logo {
  margin-left: 30px;
  height: 35px;
  width: 180px;
  padding: 5px;
}

#sign-up-logo {
  height: 35px;
  width: 180px;
  padding: 5px;
}

.hidden {
  display: none;
}


/*   homepage     */
h1 {
  display: block;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  color: #382110;
  font-weight: bold;
  font-size: 36px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.gd-home-title-welcome p {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 20px;
  padding-left: 25px;
  margin-top: 8px;
}

.gd-mainContentContainer {

  display: block
}

main {
  display: grid;
  grid-template-columns: fit-content(25%) fit-content(50%) fit-content(25%);
  grid-gap: 10px;
  /* box-sizing: border-box; */
  /* width: 100%; */
  justify-content: center;
  margin: 0 35px;
}

.homeSecondaryColumn {
  margin: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: black
}

a.homeDeedName:hover,
a.homeDeedName:visited:hover {
  color: rgb(87, 61, 14);
}

.single-deed-container {
  border-bottom: solid 1px #D8D8D8;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.single-deed-container .homeDeedName {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 20px;
}

.homeDeedContent {
  display: -webkit-box;
  text-align: justify;
  font-size: 14px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  padding-right: 8px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


.single-deed-container {
  height: 110px;
  line-height: 20px;
}

.gd-home-post-container {
  border-bottom: solid 1px #D8D8D8;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.homeColumnTitle {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  text-align: left;
  color: #333333;
  font-size: 14px;
  line-height: 1.15;
  margin: 12px 0;
  font-weight: bold;
}

.news-on-good-deeds-title {
  display: block;
  font-family: "Merriweather", "Georgia", serif;
  font-weight: bold;
  font-size: 14px;
  margin: 16px 0;
}

a.news-on-good-deeds-title {
  color: #00635D;
}

.news-images {
  width: 300px;
  height: 180px;
  border-radius: 8px;
}

p.definition-good-deed-day {
  font-size: 14px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  text-align: left;
  padding-right: 8px;
  margin: 14px 0;
  font-weight: bolder;

}

.good-deed-day-logo {
  width: 300px;
  height: 180px;

}

.fun-fact-good-deed-day {
  font-size: 14px;
  margin: 15px 0 10px 0;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  text-align: left;
  padding-right: 8px;
}

.fun-fact-list {
  padding: 0 0 0 15px;
  margin: 8px 0;
}

.fun-fact-list-item {
  color: black;
  font-size: 13px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  text-align: left;
  padding-right: 8px;
}

.scientific-facts-list {
  padding: 0 0 0 15px;
  margin: 8px 0;
}

.scientific-fact-list-item {
  color: black;
  font-size: 13px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  text-align: left;
  padding-right: 8px;
  line-height: 1.5;
}

.top-deeds-to-do {
  color: black;
  font-size: 13px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  text-align: left;
  padding-right: 8px;
  line-height: 1.15;
  font-weight: bold;

}

.deeds-of-the-year {
  width: 300px;
  height: 180px;
  border-radius: 8px;
}

.footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-links {
  flex: 1;
  color: black;
  font-size: 14px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin-bottom: 5px;
}

.github,
.linkedin {
  display: flex;
  flex-direction: column;
}

.footer-links-list {
  margin-top: 5px;
  padding: 0 0 0 10px;
  font-size: 11px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 1.15;

}

.footer-copyright {
  text-align: center;
  color: grey;
  font-size: 10px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.mainContentContainer {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: fit-content(70%) fit-content(20%);
  margin: 0 50px;
  padding: 0 25px;
  box-sizing: border-box;
}

.topContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  margin: 9px;
  padding: 10px;
}

.donate-blood,
.plant-tree,
.charity,
.grandma-duty,
.trash-picking {
  width: 200px;
  height: 280px;
  margin-top: 6px;
  margin-left: 0;
}

.OneDeedName {
  font-family: "Merriweather", "Georgia", serif;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
  font-size: 24px;
  margin: auto 0;
  padding-bottom: 5px;
}

.average-rating {
  font-family: "Merriweather", "Georgia", serif;
  line-height: 1.15;
  text-align: left;
  font-size: 15px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin: 8px 0;
}

.deedRating {
  padding-bottom: 6px;
  padding-left: 10px;
  margin: 8px 0;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

.deedDescription {
  text-align: left;
  font-family: "Merriweather", "Georgia", serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  padding-left: 10px;
  margin-top: 10px;
}

.what-do-you-think {
  font-family: "Merriweather", "Georgia", serif;
  line-height: 1.15;
  text-align: left;
  font-size: 17px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin: 8px 0;
}

.write-review {
  color: #333333;
  margin-bottom: 12px;
  margin-left: 10px;
  border-radius: 3px;
  border: 1px solid #D6D0C4;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  background: #F4F1EA;
  line-height: 1;
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
}

.bottomContainer {
  margin: 40px 9px;
  padding: 10px;
}

tr.review-headers th {
  border-bottom: solid 1.5px grey;
  font-family: "Merriweather", "Georgia", serif;
  font-size: 14px;
  text-align: center;
  background-color: #333333;
  color: white;
}

tr.single-review td {
  border-bottom: solid 1px #D8D8D8;
  padding: 5px 8px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 12px;
  text-align: left;
  border-collapse: collapse;
}

.rightContainer {
  margin: 9px;
  padding: 10px;
}

.imgs-on-deeds-link {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

.more-deeds {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  text-align: left;
  color: #333333;
  font-size: 14px;
  line-height: 1.15;
  margin: 12px 0;
  font-weight: bold;
}

.image-on-deeds {
  width: 110px;
  height: 150px;
}

/* sign up page css */
.sign-up-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.form-group {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.signup-btn {
  display: flex;
  align-items: center;
  border-radius: 30px;
  font-size: 100%;
  height: 50px;
  width: 175px;
  padding: 30px;
  text-align: center;
  background-color: #382110;
  color: #F4F1EA;

}

.form-control {
  border-radius: 30px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-inputs {
  padding: 10px;
}

/* log in page css */
.sign-in-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.login-inputs {
  padding: 10px;
}

.login-btn {
  display: flex;
  align-items: center;
  border-radius: 30px;
  font-size: 100%;
  height: 50px;
  width: 175px;
  padding: 27px;
  text-align: center;
  background-color: #382110;
  color: #F4F1EA;
}

.loginbtnwcancel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.loginAndAfter {
  display: flex;
}


/* adding deeds to karmas */

.hidden-karma-buttons {
  visibility: hidden;
  position: absolute;
  z-index: 100000;
}

.karma-buttons {
  position: absolute;
  z-index: 100000;
  background-color: white;
  box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
  width: 150px;
  padding: 5px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  border-color: #ccc;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-radius: 5px;
}



/* mydeeds css work */
#main-mydeeds {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  display: grid;
  grid-template-areas: "a b c"
}

#karma-list {
  grid-area: a;
  border-bottom: solid 1px #D8D8D8;
  ;
}

.mydeedstable {
  grid-area: b;
  text-align: center;
}

#mydeedstitle {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  text-align: center;
}

.mydeedsTableHeadersAndData {
  border-bottom: solid 1px #D8D8D8;
  ;
  padding: 7px;
}

.mydeedsactualtable {
  border-collapse: collapse;
}

.mydeedstableheader {
  background-color: #382110;
  color: #F4F1EA;
}

.mydeeds-karmalist-items {
  padding: 5px;
  list-style: none;
}

.mydeeds-karmalist {
  padding: 3px;
  list-style: none;
}

#mydeeds-karmalist-intable {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.done-add {
  border-radius: 3px;
  border: 1px solid #D6D0C4;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  background-color: #F4F1EA;
  line-height: 1;
  padding: 8px 12px;

}


.done-add:hover {
  color: #333333;
  background-color: #ede6d6;
  text-decoration: none;
}

.done-add:active {
  background-color: #D6D0C4;
}

.cancel-btns {
  color: #181818;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  line-height: 1;
  text-transform: capitalize;
  font-size: 13px;
  padding: 8px 12px;
  border: 0;
  background: none;

  font-weight: normal;
}

.karma-table-row {
  border-bottom: 1px solid #d7d7d7;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  padding: 5px;

}

#karmas-main {
  display: flex;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  flex-direction: column;
  align-items: center;
}

#add-karma-form {
  background-color: #eeeeee;
  padding: 10px;

  width: 620px;
  height: 30px;
  max-width: 625px;
  display: flex;
  justify-content: space-between;
}

.karma-input {
  width: 580px;
  padding: 5px;
  margin: 3px
}

a>h2:hover {
  text-decoration: underline;
}
