h1 {
  color: #555555;
}

.form-box-hidden {
  visibility: hidden;
}
.review-hidden {
  visibility: hidden;
  position: absolute;
}

.form-box {
  width: 400px;
  height: 400px;
  border: black solid 1px;
  border-radius: 5px;
  position: fixed;
  top: 100px;
  left: 400px;
  background: white;
  animation: popup 0.5s;
}

@keyframes popup {
  0% {
    transform: scale(.8);
  }

  50% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(1.3);
  }

  70% {
    transform: scale(1.2);
  }

  80% {
    transform: scale(1.1);
  }

  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.blur {

  -webkit-filter: blur(8px);
  filter: blur(8px);
  transition: 500ms;
  opacity: 1;
}



/* Star Stuff*/
.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}


.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  background-color: #F4F1EA;
  height: 80px;
  width: 100%;
}

.nav-btns {
  text-align: center;
  padding: 10px;
}

.rightalignbtns {
  text-align: right;
}

.log-in {
  padding-left: 60px;
}

.sign-up {
  padding-right: 80px;
}

.rating {
  width: 90px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  position: relative;
}

.rating>label {
  float: right;
  display: inline;
  padding: 0;
  margin: 0;
  position: relative;
  width: 1.1em;
  cursor: pointer;
  color: #000;
}

.rating>label:hover,
.rating>label:hover~label,
.rating>input.radio-btn:checked~label {
  color: transparent;
}

.rating>label:hover:before,
.rating>label:hover~label:before,
.rating>input.radio-btn:checked~label:before,
.rating>input.radio-btn:checked~label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #FFD700;

}


#logo {
  height: 40px;
  width: 180px;
  padding: 5px;
}

.hidden {
  display: none;
}


/* adding deeds to karmas */

.hidden-karma-buttons {
visibility: hidden;
}

.karma-buttons {
 position: absolute;
 z-index: 100000;
 background-color: white;
 box-shadow: 0 1px 2px rgb(0 0 0 / 15%);
 width: 150px;
 padding: 5px;
 font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
 border-color: #ccc;
 border-right-width: 2px;
 border-bottom-width: 2px;
 border-radius: 5px;
  }
